
/*****************************************************************
    Footer
*****************************************************************/

.footer {

    span {
        @include size(142px, 48px);
        background-image: url('../img/stores.png');
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto 10px auto;

        @include at-breakpoint($computer) {
            float: left;
            margin: -30px 10px 0 0;
        }

        @include hidpi {
            background-image: url('../img/stores@2x.png');
            background-size: 298px;
        }
    }

    .apple-store {
        background-position: 0px 0px;
    }
    
    .google-store {
        background-position: -157px 0px;
    }

    p {
        text-align: center;
        font-weight: 300;
        color: #9B9B9B;
        clear: both;

        @include at-breakpoint($computer) {
            text-align: right;
            clear: none;
        }
    }
}