
/*****************************************************************
    Header
*****************************************************************/

.header {
    display: block;

    h1 {
        display: block;
        margin: 20px 0 0 0;
        
        @include at-breakpoint($computer) {
            margin: 0;
        }
    }

    .logo {
        display: block;
        @include size(165px, 56px);
        background: url('../img/logo.png') top left no-repeat;
        @include hide-text; // Mixin
        @include transition(all 0.10s ease-in);
        margin: 0 auto;

        @include at-breakpoint($computer) {
            display: inline-block;
            margin-top: 40px;
        }

        @include hidpi {
            background: url('../img/logo@2x.png') top left no-repeat;
            background-size: 165px;
        }
    }

    
    // Intro Text
    h2 {
        @include font-size(24px);
        color: #ffffff;
        width: columns(6);
        margin-top: 1.5em;
        text-align: center;

        @include at-breakpoint($computer) {
            margin-top: 2.5em;
            @include font-size(30px);
            text-align: left;
        }
    }
}

// Mailchump
.mailchump-holder {
    display: inline-block;
    margin-bottom: 5em;
    width: columns(6);

    @include at-breakpoint($computer) {
        @include span-columns(6);
    }

    #mc_embed_signup {
        background: #ffffff;
        border: 3px solid rgba(0, 0, 0, 0.8);
        @include border-radius(2px);
        padding: 1px;
        display: block;
        overflow: hidden;
    }


    label {
        @include font-size(18px);
        font-weight: 300;
        margin-bottom: 5px;
        text-align: center;
        
        @include at-breakpoint($computer) {
            text-align: left;
        }

    }

    .indicates-required,
    .mc-field-group label {
        display: none;
    }

    .email {
        width: columns(6);
        text-align: center;

        @include at-breakpoint($computer) {
            @include span-columns(11);
            text-align: left;
        }
    }

    .button {
        width: columns(6);
        background: #19BB9B;
        @include border-radius(2px);
        border: 0px;
        padding: 14px 0px;
        text-align: center;
        font-weight: 300;
        color: #ffffff;

        @include at-breakpoint($computer) {
            @include span-columns(5 omega);
        }

    }
}

