
/*****************************************************************
    Default
*****************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
    @include box-sizing(border-box);
}

html {
    font-size: 62.5%;
}

body {
    font-family: $secondary-font-family;
    font-size: $base-font-size;
    color: #ffffff;
    line-height: 1.4;
    background: url('../img/background.png') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: $base-link-color;
    text-decoration: none;

    &:hover {
        color: $hover-link-color;
    }
}

h1 {
    @include font-size($h1-size);
}

h2 {
    @include font-size($h2-size);
}

h3 {
    @include font-size($h3-size);
}

h4 {
    @include font-size($h4-size);
}

h5 {
    @include font-size($h5-size);
}

h6 {
    @include font-size($h6-size);
}

#{headings()} {
    font-weight: normal; // Output: h1, h2, h3, h4, h5, h6 { font-weight: normal; }
}
